*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: #000000a8; /* 3 tom antes do branco principal */
  /* background: url(../Img/Background/BackgroundFundo.jpg)  repeat-x fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  word-wrap: break-word;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: logo;
  src: Url("../Fonte/Ants Valley - Personal Use.otf");
}#nomeNegocio1{
  font-family: logo;
  font-size: 50px;
}
#nomeNegocio2{
  font-size: 24px;
}
.subNomeNegocio{
  font-size: 18px;
}

.pagina{
  display: flex;
  height: 100vh;
}
.conteudoPagina{
  margin: auto;
  border-radius: 40px 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
}
.conteudoimagens{
  margin: 0 auto;
}
.imagens{
  display: flex;
}
.imagem{
  margin: auto;
  width: 50%;
}
.botao{
  font-size: 20px;
  cursor: pointer;
  background-color: #0000008b;
  padding: 15px;
  border-radius: 50%;
}
.botao:hover{
  background-color: #ffffff74;
}
.botaoImagem{
  color: #ffffff;
}
.conteudoBotaoImagem{
  margin: auto;
}
.botaoVoltarImagem{
  margin-right: 50px;
}
.botaoProximaImagem{
  margin-left: 50px;
}
.botaoVoltarImagem{
  transform: rotate(180deg);
  right: 0;
}