*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: #F4F6F1; /* 3 tom antes do branco principal */
  /* background: url(../Img/Background/BackgroundFundo.jpg)  repeat-x fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  word-wrap: break-word;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: logo;
  src: Url("../Fonte/Ants Valley - Personal Use.otf");
}#nomeNegocio1{
  font-family: logo;
  font-size: 50px;
}
#nomeNegocio2{
  font-size: 24px;
}
.subNomeNegocio{
  font-size: 18px;
}

.pagina{
  display: flex;
  height: 100vh;
}
.conteudoPagina{
  margin: auto;
  background-color: #000000;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.imagens{
  display: flex;
}
.imagem{
  margin: auto;
  width: 40%;
}
.botaoImagem{
  color: #ffffff;
}
.conteudoBotaoImagem{
  margin: auto;
  right: 0;
}
.botaoVoltarImagem{
  transform: rotate(180deg);
  right: 0;
}







.conteudoIcone{
  display: flex;
}
.imagemIcone{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 0px 40px 2px  #3c763d; /* tom princial original */
  padding: 1px;
  background-color: #ffffff;
}

.nomeNegocio{
  text-align: center;
  color: #3c763d; /* tom princial original */
  padding-top: 30px;
}
#nomeNegocio2{
  padding-top: 0px;
}
.subNomeNegocio{
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}

.conteudoLinks{
  display: grid;
  padding: 10px 5px 5px 5px;
}
.descricaoLink{
  display: flex;
  margin: 7px;
}
.link{
  background: #3c763d; /* tom secundario original */
  color: #244624; /* 4 tons antes do preto secundario */
  min-width: 350px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 16px;
  font-weight: bolder;
}

.link:hover{
  color: #3c763d; /* tom secundario original */
  background: #244624; /* 4 tons antes do preto secundario */
  box-shadow: 0px 0px 6px 6px #366A36; /* 1 tom mais escuro secundario */
}